<!DOCTYPE html>
<html>
<head>
    <title>currency filter</title>
    <script src="currency-validator.js"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div id="app">
    <currency-input label="Price" v-bind:value.sync="price" class="price"></currency-input>
    <currency-input label="Shipping" v-bind:value.sync="shipping" class="shipping"></currency-input>
    <currency-input label="Handling" v-bind:value.sync="handling" class="handling"></currency-input>
    <currency-input label="Discount" v-bind:value.sync="discount" class="discount"></currency-input>
    <select name="Color" v-model="color" class="color" title="color">
        <optgroup label="Color">
            <option value="" selected>black</option>
            <option value="red">red</option>
            <option value="blue">blue</option>
            <option value="green">green</option>
            <option value="orange">orange</option>
            <option value="white">white</option>
        </optgroup>
    </select>
    <select name="Color" v-model="bg" class="color" title="color">
        <optgroup label="Color">
            <option value="" selected>white</option>
            <option value="red">red</option>
            <option value="blue">blue</option>
            <option value="green">green</option>
            <option value="orange">orange</option>
            <option value="white">white</option>
        </optgroup>
    </select>
    <transition name="fade">
        <p class="total" :style="{ color: color, background: bg}" style="width: 50%; margin-top: 1%">Total: ${{ total }}</p>
    </transition>
</div>

<script src="currency-validator.js"></script>
<script src="https://unpkg.com/vue@1.0/dist/vue.js"></script>
<script>
    Vue.component("currency-input", {
        template:
            '\
            <div>\
              <label v-if="label">{{ label }}</label>\
              $\
              <input\
                v-el:input\
                v-model="value | currency"\
                v-on:focus="selectAll"\
                \class="form-control"\
              >\
            </div>\
          ',
        props: {
            value: {
                type: Number,
                default: 0,
                twoWay: true
            },
            label: {
                type: String,
                default: ""
            }
        },
        filters: {
            currency: {
                read: currencyValidator.format,
                write: function (newValue, oldValue) {
                    var result = currencyValidator.parse(newValue, Number(oldValue));
                    if (result.warning) {
                        this.$els.input.value = result.value;
                    }
                    return result.value;
                }
            }
        },
        methods: {
            selectAll: function (event) {
                // Workaround for Safari bug
                // http://stackoverflow.com/questions/1269722/selecting-text-on-focus-using-jquery-not-working-in-safari-and-chrome
                setTimeout(function () {
                    event.target.select();
                }, 0);
            }
        }
    });

    new Vue({
        el: "#app",
        data: {
            price: 0,
            shipping: 0,
            handling: 0,
            discount: 0,
            color: '',
        },
        computed: {
            total: function () {
                return (
                    (this.price * 100 +
                        this.shipping * 100 +
                        this.handling * 100 -
                        this.discount * 100) /
                    100
                ).toFixed(2);
            }
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>
