* {
    font-family: 'Roboto', sans-serif;
}

.total {
    font-size: 200%;
}

#app {
    margin: 5%;
    margin-left: 30%;
}

.price {
    font-size: 160%;
    width: 50%;
}

.shipping {
    width: 50%;
    font-size: 160%;
}

.handling {
    width: 50%;
    font-size: 160%;
}

.discount {
    width: 50%;
    font-size: 160%;
}

.color {
    margin-top: 2%;
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}